serviceconfig/src/main/resources/service-summarylist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="duracloud.org" targetNamespace="duracloud.org">

  <xs:include schemaLocation="service-summary-types.xsd"/>

  <!-- top-level listing of services summaries-->
  <xs:element name="serviceSummaries">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="serviceSummary" minOccurs="0" maxOccurs="unbounded" type="serviceSummaryType"/>
      </xs:sequence>
      <xs:attribute name="schemaVersion" type="xs:string" fixed="1.0.0" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
