serviceconfig/src/main/resources/service-summary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="duracloud.org" targetNamespace="duracloud.org">

  <xs:include schemaLocation="service-summary-types.xsd"/>

  <!-- top-level serviceSummary-->
  <xs:redefine schemaLocation="service-summary-types.xsd"/>
  <xs:complexType name="singleServiceSummaryType">
    <xs:complexContent>
      <xs:extension base="serviceSummaryType">
        <xs:attribute name="schemaVersion" type="xs:string" fixed="1.0.0" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="serviceSummary" type="singleServiceSummaryType"/>

</xs:schema>
