serviceconfig/src/main/resources/service-report.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="serviceReportList" type="serviceReportList"/>

  <xs:complexType name="serviceReportList">
    <xs:complexContent>
      <xs:extension base="serviceReportBase">
        <xs:sequence>
          <xs:element name="serviceReport" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="serviceReportBase">
    <xs:sequence/>
    <xs:attribute name="schemaVersion" type="xs:string" use="required"/>
  </xs:complexType>
</xs:schema>

